{% extends 'misperris/base.html' %}
{% load static %}

{% block content %}
    <main>

      <h1>Bienvenido a mis perris</h1>
      <br />
      <h3>Antes de llenar el formulario de adopción debe leer lo que conlleva tener un perro como mascota.</h3>
      <hr>
      <div class="columna1">

        <p><b>Cuidados:</b> Se le debe vacunar una vez al año y desparasitar cada 6 meses. También debe mantenerlo libre de pulgas y garrapatas, para evitar enfermedades y alergias.</p>

        <p><b>Disciplina y educación:</b> Ser constante en las indicaciones que se le dan para que aprenda no solo a hacer sus necesidades en el lugar donde se le permita, sino las cosas que el dueño quiere.</p>

        <p><b>Refugio:</b> Lugar protegido contra sol, lluvia, frío y viento.

        <p><b>Esterilización:</b> No importando si es hembra o macho usted está en la obligación de esterilizarlo antes de los 6 meses, y así evitar problemas de sobre población.</p>

      </div>
      <img id="perromain" src="{% static 'img/perromain2.0.png' %}" alt="perrito feliz">

      <div class="columna2">

        <p>Los animales tienen sentimientos y son inteligentes. El dueño es el responsable de guiar y educar a la mascota para que haya una buena relación y que sea obediente.</p>

        <p>La solicitud es personal, no se puede pedir la mascota para dársela a otra persona.</p>

        <p>Por favor cuando reciba a su mascota llévelo a donde un veterinario a que le haga un chequeo general.</p>

      </div>
      <img id="perritoadopta" src="{% static 'img/adopta-300.jpg' %}" alt="perrito adopta">
    </main>
{% endblock %}
